/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap'); */
* {margin: 0; padding: 0; box-sizing: border-box;}
body, html {
  margin: 0;
  background: rgb(217, 247, 237); 
  overflow-x:hidden;
  overflow-y:scroll;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 2.5rem;
}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
.hidden {display: none;}

body::-webkit-scrollbar {display: none;}

#audiobox { 
  position: fixed;
  top: 0; left: 95%;
  width: 15%; height: 10%;
  border: 1px solid red;
}
#audiobox.play {z-index: 104;}
#audio_wrap {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 10%;
}
header {
  position: fixed;
  z-index: 106;
  width: 50%; height: 100%;
  top: 0;
  left: -100%;
  display: flex;
  transition: .5s;
}
header.visible {left:0; z-index: 106;}
#bar { 
  /* z-index: 106; */
  position: fixed;
  top: 5%;
  left: 3.7%;
  width: 35px;
  height: 34px;
}
#bar .hbtn {
  transition: .3s ease-in-out;
  width: 100%;
  height: 100%;
  
}
#bar .hbtn span { 
  position: absolute;
  height: 5px;
  border-radius: 4px;
  width: 100%;
  background: #3d4146;
  top: 0;
  transition: .2s;
}
#bar .hbtn span:nth-child(1) {
  top: 0;
}
#bar .hbtn span:nth-child(2),
#bar .hbtn span:nth-child(3)
{
  top: 13px;
}
#bar .hbtn span:nth-child(4) {
  top: 26px;
}
#bar .hbtn.active span:nth-child(1),
#bar .hbtn.active span:nth-child(4) {
  opacity: 0;
}
#bar .hbtn.active span:nth-child(2) {
  transform: rotate(45deg);
}
#bar .hbtn.active span:nth-child(3) {
  transform: rotate(-45deg);
}
#back_btn {
  z-index: 104;
  width: 5%;
  font-size: 0.5rem;
  position: fixed;
  top: 5%;
  left: 8%;
  display: none;
}
#back_btn.play {display: block;}
#header_wrap {
  flex: 1;
  width: 50%; height: 100%;
  padding: 15% 15%;
  background-color: #fff;
}
#overlay {
  width:100%; height: 100%;
  z-index: 99;
  background-color: #fff;
  opacity: 0;
  transition: 2s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
#overlay.visible {
  display: block;
  opacity: 0.5;
  z-index: 105;
}
#menu li {
  margin-top: 2%;
  font-size: 2rem;
}
#menu li:nth-child(3) {letter-spacing: -2px;}

main {
  position: relative;
  z-index: 98;
  width: 300%;
  height: 68vh;
  margin-top: 4.7%;
  margin-left: 0;
  background-color: #fff;
  transition: all .8s;
  perspective: 1000px;
  transform-style : preserve-3d;
}

main> p {
  position: fixed;
  font-size: 1.5rem;
  left: 13%;
  font-weight: bold;
  transition: all .5s linear;
}

#content { 
  display: flex;
  height: 100%;
  transition: all .5s linear;
}
.thumb_box { 
  width: 30vh; height: 30vh;
  flex: 0 1 30vh;
  transition: all .3s linear;
  top: 30%;
  position: relative;
  margin-left: 1%;
}
.thumb_box:hover {
  transform: translateY(-12%);
}
.thumb_box:hover .thumb {
  box-shadow: 20px 20px 60px 0px rgba(0, 0, 0, 0.2), -20px 0px 60px 0px rgba(0,0,0,0.2);
}
.thumb_box:hover .lp {
  transform: translateY(50%);
}
.thumb_box:first-child {
  margin-left: 2%;
}
.thumb_box:last-child {
  margin-right: 2%;
}

.thumb {
  width: 100%; height: 100%;
  position: relative;
  cursor: pointer;
}
.thumb_box a .thumb .lp {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 70%;
  z-index: -1;
  transition:all 0.3s ease-out;  
}
.thumb_box a .thumb .lp img {
  animation: lp-rotate 2s linear infinite;
  width: 90%; height: 90%;
  border-radius: 70%;
  display: inline-block;
  margin-left: 5%;
}

@keyframes lp-rotate {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}

.thumb img {
  width: 100%; height: 100%;
  border-radius: 5px;
}
/*---------------------------------------------------*/
#prev_box { 
  z-index: 102;
  position: fixed;
  width:35%;
  display: flex;
  top: 12%;
  left: 8%;
  display: none;
}
/* #prev_box.play{display: block; display: flex;} */

#thumb_sm {
  width: 15vh;
  height: 15vh;
  box-shadow: 20px 20px 60px 0px rgba(0, 0, 0, 0.2), -20px 0px 60px 0px rgba(0,0,0,0.2);
  opacity: 0;
  margin-top: 10%;
  position: relative;
  transition: .3s;
}
/* #thumb_sm.play {animation: thumb_sm_play linear forwards;} */
/* @keyframes thumb_sm_play{
  0% {top:2%; opacity: 0;}
  100% {top:0; opacity: 1;}
} */
#thumb_sm img {
  width: 100%;
  height: 100%;
}
#prev_box .album_desc { 
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20%;
  line-height: 7vh;
  transition: all .5s linear;
  width: 20vw;
  opacity: 0;
}
/* #prev_box .album_desc.play {animation: desc_play linear forwards;}
@keyframes desc_play {
  0%{margin-left:7%; opacity:0;}
  100%{margin-left: 5%; opacity: 1;}
} */
#prev_box .album_desc li {
  font-size: 0.3rem;
  line-height: 2.5vh;
  margin-left: 5%;
  opacity: 0;
  
}
#prev_box .album_desc li:nth-child(1) {transition: .5s;} 
#prev_box .album_desc li:nth-child(2) {transition: .7s;} 
#prev_box .album_desc li:nth-child(3) {transition: .9s;} 

/*---------------------------------------------------*/
.scrollDist{
  top: 30%;
  left: 0;
  width:100%;
  height: 70%;
  position:absolute;
  z-index: 96;
  overflow-y: scroll;
  display: none;
}
.scrollDist ul {
  margin-top: 5%;
  margin-left: 5%;
}
.scrollDist::-webkit-scrollbar {display: none;}
.scrollDist.play {
  display: block;
}
svg {border: 1px solid red;
  z-index: 97;
  position:fixed;
  top: 9%;
  transition: all 2s;
  width: 100%;
  height: 75%;
}
svg.play {
  z-index: 101;
  top: -38%;
  width: 100%;
  height: 75%;
}